extends adminlayout

include mixins/_videoCard

block content
  .inner
    h2= title
    .Table
      .Table-row.Table-header
        .Table-row-item Title
        .Table-row-item Comments
        .Table-row-item Views
        .Table-row-item Likes
        .Table-row-item Dislikes
        .Table-row-item Comments
        .Table-row-item Edit
        .Table-row-item Delete
        .Table-row-item Created
      each video in videosWithStats
        .Table-row
          .Table-row-item(data-header='Title')
            a(href=`/video/${video.slug}`) #{video.name}
          .Table-row-item(data-header='Comments') #{video.reviews.length}
          .Table-row-item(data-header='Views') #{video.stats.items[0].statistics.viewCount}
          .Table-row-item(data-header='Likes') #{video.stats.items[0].statistics.likeCount}
          .Table-row-item(data-header='Dislikes ') #{video.stats.items[0].statistics.dislikeCount}
          .Table-row-item(data-header='Comments') #{video.stats.items[0].statistics.commentCount}
          .Table-row-item(data-header='Edit')
            a(href=`/ataraxia/videos/${video._id}/edit`) Edit
          .Table-row-item(data-header='Delete')
            form(action=`/ataraxia/delete/video/${video._id || ''}` method="POST"  enctype="multipart/form-data")
              input.button--simple-danger(type="submit" value="Delete" onclick="return confirm('Are you sure?')")
          - const createdDate = h.moment(video.created).format('DD.MM.YYYY')
          .Table-row-item(data-header='Created') #{createdDate}
