extends adminlayout

block content
  .inner.inner--full-table
    .reviews
      h2 Global Statistics
      //- p
      //- .review
      //-   .review__header
          //- p
          //-   b Total likes: #{hearts[0].total}
          //- p
          //-   b Liked Tutorials:
          //- p
          //-   b Liked Tutorials:
    h2 Tutorials
    .Table
      .Table-row.Table-header
        .Table-row-item Title
        .Table-row-item Comments
        .Table-row-item Views
        .Table-row-item Likes
        .Table-row-item Dislikes
        .Table-row-item Comments
        .Table-row-item Edit
        .Table-row-item Delete
        .Table-row-item Created
      each video in videosWithStats
        .Table-row
          .Table-row-item(data-header='Title')
            a(href=`/video/${video.slug}`) #{video.name}
          .Table-row-item(data-header='Comments') #{video.reviews.length}
          //- .Table-row-item(data-header='Харесано') #{video.liked.length}
          .Table-row-item(data-header='Views') #{video.youtubeStats.items[0].statistics.viewCount}
          .Table-row-item(data-header='Likes') #{video.youtubeStats.items[0].statistics.likeCount}
          .Table-row-item(data-header='Dislikes ') #{video.youtubeStats.items[0].statistics.dislikeCount}
          .Table-row-item(data-header='Comments') #{video.youtubeStats.items[0].statistics.commentCount}
          .Table-row-item(data-header='Edit')
            a(href=`/ataraxia/videos/${video._id}/edit`) Edit
          .Table-row-item(data-header='Delete')
            form(action=`/ataraxia/delete/video/${video._id || ''}` method="POST"  enctype="multipart/form-data")
              input.button--simple-danger(type="submit" value="Delete" onclick="return confirm('Are you sure?')")
          - const createdDate = h.moment(video.created).format('DD.MM.YYYY')
          .Table-row-item(data-header='Created') #{createdDate}
  .inner.inner--full-table
    h2 Podcast
    .Table
      .Table-row.Table-header
        .Table-row-item Title
        .Table-row-item.half-table Comments
        .Table-row-item.half-table Слушания
        .Table-row-item.half-table Харесвания
        .Table-row-item.half-table Сваляния
        .Table-row-item.half-table Comments
        .Table-row-item.half-table Edit
        .Table-row-item.half-table Delete
        .Table-row-item.half-table Created
      each podcast in podcastsWithStats
        .Table-row
          .Table-row-item(data-header='Title')
            a(href=`/podcast/${podcast.slug}`) #{podcast.name}
          .Table-row-item.half-table(data-header='Comments') #{podcast.reviews.length}
          .Table-row-item.half-table(data-header='Слушания') #{podcast.stats.playback_count}
          .Table-row-item.half-table(data-header='Харесвануя') #{podcast.stats.favoritings_count}
          .Table-row-item.half-table(data-header='Сваляния') #{podcast.stats.download_count}
          .Table-row-item.half-table(data-header='Comments') #{podcast.stats.comment_count}
          .Table-row-item.half-table(data-header='Edit')
            a(href=`/ataraxia/podcasts/${podcast._id}/edit`) Edit
          .Table-row-item.half-table(data-header='Delete')
            form(action=`/ataraxia/delete/podcast/${podcast._id || ''}` method="POST"  enctype="multipart/form-data")
              input.button--simple-danger(type="submit" value="Delete" onclick="return confirm('Are you sure?')")
          - const createdDate = h.moment(podcast.created).format('DD.MM.YYYY')
          .Table-row-item.half-table(data-header='Created') #{createdDate}

  .inner.inner--full-table
    h2 Comments
    .reviews
      each result in results
        each review in result.reviews.slice(0, 1)
          .review
            .review__header
              .review__author
                  //- p= result.name
                  p От: #{review.author.name}
              .review__author
                - const category = result.type === 'Video' ? 'video' : 'podcast'
                - Object.setPrototypeOf(result.reviews, Object.prototype);
                  a(href=`/${category}/${result.slug}`) #{result.name}
                  //- pre= h.dump(result)
              .review__stars(title=`Rated ${review.rating} our of 5 stars`)
                = `★`.repeat(review.rating)
                = `☆`.repeat(5 - review.rating)
              time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
            .review__body
              p= review.text
              form(action=`/ataraxia/delete/review/${review._id || ''}` method="POST"  enctype="multipart/form-data")
                input.button--simple-danger(type="submit" value="Delete" onclick="return confirm('Are you sure?')")

  //- .inner
  //-   p Общо харесани: #{hearts[0].total}
  //-   h2 Ревюта
  //-   .Table(style="display: block")
  //-     .Table-row.Table-header
  //-       .Table-row-item Автор
  //-       .Table-row-item Comments
  //-       .Table-row-item Рейтинг
  //-       .Table-row-item Delete
  //-       .Table-row-item Created
  //-     each result in results
  //-       //- pre= h.dump(podcast)
  //-       - Object.setPrototypeOf(result.reviews, Object.prototype);
  //-       .Table-row
  //-         .Table-row-item(data-header='Автор')
  //-           p= result.name
  //-         each review in result.reviews
  //-           .Table-row-item(data-header='Автор')
  //-             p(style="display:block")= review.text
