extends layout

block content
  .inner
    h2 Top #{topVideos.length}
    .Table
      .Table-row.Table-header
        .Table-row-item Picture
        .Table-row-item Rank
        .Table-row-item Name
        .Table-row-item Comments
        .Table-row-item Average Rating
      each topVideo, i in topVideos
        .Table-row
          .Table-row-item(data-header='Picture')
            - const category = topVideo.type === 'Podcast' ? 'podcast' : 'video'
            a(href=`/${category}/${topVideo.slug}`)
              img(width=200 src=`/uploads/${topVideo.photo || 'placeholder.jpg'}` alt=topVideo.name)
          .Table-row-item(data-header='Rank')   #{i + 1}
          .Table-row-item(data-header='Name'): a(href=`/${category}/${topVideo.slug}`)= topVideo.name
          .Table-row-item(data-header='Comments')= topVideo.reviews.length
          .Table-row-item(data-header='Rating')   #{Math.round(topVideo.averageRating * 10) / 10} / 5
